<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mobiliseit.pmp"
        version   = "1.0.0">

    <name>PMP</name>

    <description>
        PMP Application
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        PhoneGap Team
    </author>

    <!--
        Enable individual API permissions here.
        The "device" permission is required for the 'deviceready' event.
    -->
    <feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="NetworkStatus">
		<param name="android-package" value="org.apache.cordova.NetworkManager" />
		<param name="ios-package" value="CDVConnection" />
	</feature>
	<feature name="Geolocation">
		<param name="android-package" value="org.apache.cordova.GeoBroker" />
		<param name="ios-package" value="CDVLocation" />
	</feature>
	<feature name="Device">
		<param name="android-package" value="org.apache.cordova.device.Device" />
	</feature>
	<feature name="SplashScreen">
		<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
		<param name="ios-package" value="CDVSplashScreen" />
	</feature>

	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<preference name="phonegap-version" value="3.1.0" />
	<preference name="webviewbounce" value="false" />
	<preference name="splashScreenDelay" value="30000"/>
	<preference name="loadUrlTimeoutValue" value="30000"/>	
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="prerendered-icon" value="true" />
	<preference name="detect-data-types" value="false" />
	<preference name="splash-screen-duration" value="30000"/>
	<preference name="fullscreen" value="true" />

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />      
	
	<!-- Define app splash screen for each platform. -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="res/screen/android/screen-xxhdpi-portrait.png" gap:platform="android" gap:density="xxhdpi" />
	
	<gap:splash src="res/screen/android/screen-ldpi-land.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-land.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-land.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-land.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="res/screen/android/screen-xxhdpi-land.png" gap:platform="android" gap:density="xxhdpi" />
	
    <!--
	<gap:splash src="res/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" /> 
	<gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="res/screen/ios/screen-iphone-land.png"    gap:platform="ios"     width="480" height="320" />
    <gap:splash src="res/screen/ios/screen-iphone-land-2x.png" gap:platform="ios"     width="960" height="640" /> 
	<gap:splash src="res/screen/ios/screen-iphone-land-568h-2x.png" gap:platform="ios" width="1136" height="640" />
	<gap:splash src="res/screen/ios/splash_ipad_landscape.png" gap:platform="ios" width="1024" height="768" />
	<gap:splash src="res/screen/ios/splash_ipad_portrait.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="res/screen/ios/splash_ipad_retina_landscape.png" gap:platform="ios" width="2048" height="1536" />
	<gap:splash src="res/screen/ios/splash_ipad_retina_portrait.png" gap:platform="ios" width="1536" height="2048" />
	-->	
	
	<gap:splash src="res/screen/ios/Default.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="res/screen/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="res/screen/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="res/screen/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
	<gap:splash src="res/screen/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />

	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<gap:splash src="res/screen/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="res/screen/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />
	
	
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.splashscreen" />
	 
	
    <access origin="*" />
	<!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <!--<access origin="http://127.0.0.1*"/>--> <!-- allow local pages -->
    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

</widget>